In [0]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path =  "/content/drive/My Drive/online_shoppers_intention.csv"

In [0]:
data = pd.read_csv(path)
data.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

In [0]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.base import TransformerMixin

In [0]:
class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [0]:
def impute_cat_num(df):
    """
    simple imputer to fill in missing values
    args :
        df : dataframe
    return :
        dataframe where missing values are imputed
    """
    imputed_df = DataFrameImputer().fit_transform(df)
    return imputed_df

In [0]:
data = impute_cat_num(data)

In [0]:
from xgboost import XGBRegressor

def model(data):
    """
    to get the model for a given dataset
    args : 
        data : dataset_Id
    return :
        trained : model
    """


    df = impute_cat_num(data)

    df = label_encoder(df)

    y = df.Revenue
    X = df.drop(['Revenue'], axis=1)


    feature_names = [i for i in X.columns]

    X_train, X_valid, y_train, y_valid = train_test_split(X, y)

    my_model = XGBRegressor(n_estimators=1500)
    my_model.fit(X_train, y_train, 
                early_stopping_rounds= 300,
                eval_metric="logloss",
                eval_set=[(X_valid, y_valid)],
                verbose=True)

    return my_model

In [0]:
model = model(data)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[06:46:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-logloss:0.62725
Will train until validation_0-logloss hasn't improved in 300 rounds.
[1]	validation_0-logloss:0.57308
[2]	validation_0-logloss:0.52774
[3]	validation_0-logloss:0.489635
[4]	validation_0-logloss:0.457094
[5]	validation_0-logloss:0.429094
[6]	validation_0-logloss:0.404959
[7]	validation_0-logloss:0.384018
[8]	validation_0-logloss:0.366073
[9]	validation_0-logloss:0.350731
[10]	validation_0-logloss:0.337165
[11]	validation_0-logloss:0.32523
[12]	validation_0-logloss:0.315221
[13]	validation_0-logloss:0.306081
[14]	validation_0-logloss:0.298009
[15]	validation_0-logloss:0.290993
[16]	validation_0-logloss:0.284819
[17]	validation_0-logloss:0.27968
[18]	validation_0-logloss:0.275168
[19]	validation_0-logloss:0.270765
[20]	validation_0-logloss:0.26744
[21]	validation_0-logloss:0.264456
[22]	validation_0-logloss:0.261614
[23]	validation_0-logloss:0.259129
[24]	validation_0-logloss:0.257162
[25]	validation_0-logloss:0.255141
[26]	validation_0-logloss:0.253736
[27]	validation_0-logloss:0.252075
[28]	validation_0-logloss:0.250245
[29]	validation_0-logloss:0.248634
[30]	validation_0-logloss:0.247801
[31]	validation_0-logloss:0.246511
[32]	validation_0-logloss:0.245634
[33]	validation_0-logloss:0.255174
[34]	validation_0-logloss:0.254611
[35]	validation_0-logloss:0.254122
[36]	validation_0-logloss:0.253604
[37]	validation_0-logloss:0.25331
[38]	validation_0-logloss:0.252918
[39]	validation_0-logloss:0.252417
[40]	validation_0-logloss:0.251947
[41]	validation_0-logloss:0.251822
[42]	validation_0-logloss:0.251696
[43]	validation_0-logloss:0.251694
[44]	validation_0-logloss:0.251534
[45]	validation_0-logloss:0.251458
[46]	validation_0-logloss:0.251425
[47]	validation_0-logloss:0.251667
[48]	validation_0-logloss:0.251644
[49]	validation_0-logloss:0.251774
[50]	validation_0-logloss:0.251515
[51]	validation_0-logloss:0.251069
[52]	validation_0-logloss:0.251053
[53]	validation_0-logloss:0.251148
[54]	validation_0-logloss:0.251414
[55]	validation_0-logloss:0.251189
[56]	validation_0-logloss:0.251199
[57]	validation_0-logloss:0.251315
[58]	validation_0-logloss:0.251436
[59]	validation_0-logloss:0.251337
[60]	validation_0-logloss:0.251362
[61]	validation_0-logloss:0.251383
[62]	validation_0-logloss:0.251535
[63]	validation_0-logloss:0.251666
[64]	validation_0-logloss:0.251814
[65]	validation_0-logloss:0.251792
[66]	validation_0-logloss:0.251989
[67]	validation_0-logloss:0.252111
[68]	validation_0-logloss:0.252183
[69]	validation_0-logloss:0.252266
[70]	validation_0-logloss:0.262286
[71]	validation_0-logloss:0.262444
[72]	validation_0-logloss:0.262381
[73]	validation_0-logloss:0.262514
[74]	validation_0-logloss:0.262548
[75]	validation_0-logloss:0.262612
[76]	validation_0-logloss:0.262534
[77]	validation_0-logloss:0.2626
[78]	validation_0-logloss:0.262625
[79]	validation_0-logloss:0.263101
[80]	validation_0-logloss:0.273501
[81]	validation_0-logloss:0.27351
[82]	validation_0-logloss:0.273244
[83]	validation_0-logloss:0.263424
[84]	validation_0-logloss:0.272824
[85]	validation_0-logloss:0.272823
[86]	validation_0-logloss:0.272819
[87]	validation_0-logloss:0.272918
[88]	validation_0-logloss:0.272942
[89]	validation_0-logloss:0.272934
[90]	validation_0-logloss:0.272919
[91]	validation_0-logloss:0.273019
[92]	validation_0-logloss:0.273006
[93]	validation_0-logloss:0.27319
[94]	validation_0-logloss:0.273152
[95]	validation_0-logloss:0.2733
[96]	validation_0-logloss:0.273113
[97]	validation_0-logloss:0.273009
[98]	validation_0-logloss:0.273168
[99]	validation_0-logloss:0.273191
[100]	validation_0-logloss:0.273258
[101]	validation_0-logloss:0.273005
[102]	validation_0-logloss:0.273004
[103]	validation_0-logloss:0.273018
[104]	validation_0-logloss:0.273036
[105]	validation_0-logloss:0.272964
[106]	validation_0-logloss:0.273214
[107]	validation_0-logloss:0.273088
[108]	validation_0-logloss:0.2731
[109]	validation_0-logloss:0.273286
[110]	validation_0-logloss:0.273568
[111]	validation_0-logloss:0.273579
[112]	validation_0-logloss:0.273749
[113]	validation_0-logloss:0.273731
[114]	validation_0-logloss:0.273525
[115]	validation_0-logloss:0.273497
[116]	validation_0-logloss:0.27352
[117]	validation_0-logloss:0.273597
[118]	validation_0-logloss:0.273714
[119]	validation_0-logloss:0.273598
[120]	validation_0-logloss:0.273628
[121]	validation_0-logloss:0.273458
[122]	validation_0-logloss:0.273402
[123]	validation_0-logloss:0.273416
[124]	validation_0-logloss:0.273531
[125]	validation_0-logloss:0.273464
[126]	validation_0-logloss:0.273577
[127]	validation_0-logloss:0.273365
[128]	validation_0-logloss:0.273379
[129]	validation_0-logloss:0.273418
[130]	validation_0-logloss:0.273828
[131]	validation_0-logloss:0.27371
[132]	validation_0-logloss:0.273699
[133]	validation_0-logloss:0.273668
[134]	validation_0-logloss:0.274018
[135]	validation_0-logloss:0.27403
[136]	validation_0-logloss:0.274072
[137]	validation_0-logloss:0.274334
[138]	validation_0-logloss:0.274602
[139]	validation_0-logloss:0.274575
[140]	validation_0-logloss:0.274671
[141]	validation_0-logloss:0.274689
[142]	validation_0-logloss:0.274683
[143]	validation_0-logloss:0.284715
[144]	validation_0-logloss:0.273977
[145]	validation_0-logloss:0.27369
[146]	validation_0-logloss:0.284232
[147]	validation_0-logloss:0.284182
[148]	validation_0-logloss:0.284121
[149]	validation_0-logloss:0.284161
[150]	validation_0-logloss:0.284099
[151]	validation_0-logloss:0.284046
[152]	validation_0-logloss:0.284239
[153]	validation_0-logloss:0.284302
[154]	validation_0-logloss:0.284358
[155]	validation_0-logloss:0.284426
[156]	validation_0-logloss:0.284442
[157]	validation_0-logloss:0.284434
[158]	validation_0-logloss:0.284418
[159]	validation_0-logloss:0.284398
[160]	validation_0-logloss:0.284348
[161]	validation_0-logloss:0.284316
[162]	validation_0-logloss:0.284396
[163]	validation_0-logloss:0.284429
[164]	validation_0-logloss:0.285051
[165]	validation_0-logloss:0.28477
[166]	validation_0-logloss:0.284802
[167]	validation_0-logloss:0.284874
[168]	validation_0-logloss:0.284701
[169]	validation_0-logloss:0.284752
[170]	validation_0-logloss:0.284799
[171]	validation_0-logloss:0.284652
[172]	validation_0-logloss:0.284698
[173]	validation_0-logloss:0.273911
[174]	validation_0-logloss:0.274552
[175]	validation_0-logloss:0.274544
[176]	validation_0-logloss:0.274287
[177]	validation_0-logloss:0.274271
[178]	validation_0-logloss:0.274284
[179]	validation_0-logloss:0.274218
[180]	validation_0-logloss:0.274257
[181]	validation_0-logloss:0.274319
[182]	validation_0-logloss:0.274365
[183]	validation_0-logloss:0.274508
[184]	validation_0-logloss:0.274522
[185]	validation_0-logloss:0.274549
[186]	validation_0-logloss:0.274506
[187]	validation_0-logloss:0.274488
[188]	validation_0-logloss:0.274478
[189]	validation_0-logloss:0.274518
[190]	validation_0-logloss:0.274657
[191]	validation_0-logloss:0.274858
[192]	validation_0-logloss:0.274902
[193]	validation_0-logloss:0.274875
[194]	validation_0-logloss:0.274862
[195]	validation_0-logloss:0.274956
[196]	validation_0-logloss:0.275014
[197]	validation_0-logloss:0.275004
[198]	validation_0-logloss:0.274787
[199]	validation_0-logloss:0.274862
[200]	validation_0-logloss:0.274781
[201]	validation_0-logloss:0.274702
[202]	validation_0-logloss:0.274643
[203]	validation_0-logloss:0.274606
[204]	validation_0-logloss:0.274635
[205]	validation_0-logloss:0.27462
[206]	validation_0-logloss:0.27482
[207]	validation_0-logloss:0.27487
[208]	validation_0-logloss:0.274998
[209]	validation_0-logloss:0.275393
[210]	validation_0-logloss:0.275368
[211]	validation_0-logloss:0.276211
[212]	validation_0-logloss:0.276093
[213]	validation_0-logloss:0.27588
[214]	validation_0-logloss:0.275837
[215]	validation_0-logloss:0.275849
[216]	validation_0-logloss:0.275654
[217]	validation_0-logloss:0.275779
[218]	validation_0-logloss:0.275711
[219]	validation_0-logloss:0.275686
[220]	validation_0-logloss:0.276309
[221]	validation_0-logloss:0.286432
[222]	validation_0-logloss:0.296428
[223]	validation_0-logloss:0.288619
[224]	validation_0-logloss:0.307781
[225]	validation_0-logloss:0.30786
[226]	validation_0-logloss:0.307829
[227]	validation_0-logloss:0.317493
[228]	validation_0-logloss:0.317537
[229]	validation_0-logloss:0.317415
[230]	validation_0-logloss:0.317356
[231]	validation_0-logloss:0.317339
[232]	validation_0-logloss:0.31759
[233]	validation_0-logloss:0.317575
[234]	validation_0-logloss:0.317679
[235]	validation_0-logloss:0.317898
[236]	validation_0-logloss:0.309139
[237]	validation_0-logloss:0.30896
[238]	validation_0-logloss:0.317814
[239]	validation_0-logloss:0.317839
[240]	validation_0-logloss:0.308166
[241]	validation_0-logloss:0.308111
[242]	validation_0-logloss:0.308158
[243]	validation_0-logloss:0.308319
[244]	validation_0-logloss:0.308197
[245]	validation_0-logloss:0.298917
[246]	validation_0-logloss:0.298173
[247]	validation_0-logloss:0.298235
[248]	validation_0-logloss:0.298469
[249]	validation_0-logloss:0.298519
[250]	validation_0-logloss:0.298536
[251]	validation_0-logloss:0.298608
[252]	validation_0-logloss:0.298496
[253]	validation_0-logloss:0.298528
[254]	validation_0-logloss:0.288492
[255]	validation_0-logloss:0.28849
[256]	validation_0-logloss:0.288396
[257]	validation_0-logloss:0.288597
[258]	validation_0-logloss:0.288617
[259]	validation_0-logloss:0.289006
[260]	validation_0-logloss:0.289262
[261]	validation_0-logloss:0.299699
[262]	validation_0-logloss:0.299761
[263]	validation_0-logloss:0.299746
[264]	validation_0-logloss:0.299518
[265]	validation_0-logloss:0.299496
[266]	validation_0-logloss:0.299437
[267]	validation_0-logloss:0.299497
[268]	validation_0-logloss:0.299652
[269]	validation_0-logloss:0.299691
[270]	validation_0-logloss:0.299641
[271]	validation_0-logloss:0.299478
[272]	validation_0-logloss:0.29934
[273]	validation_0-logloss:0.299451
[274]	validation_0-logloss:0.298992
[275]	validation_0-logloss:0.299051
[276]	validation_0-logloss:0.30933
[277]	validation_0-logloss:0.309327
[278]	validation_0-logloss:0.309393
[279]	validation_0-logloss:0.309489
[280]	validation_0-logloss:0.309425
[281]	validation_0-logloss:0.300513
[282]	validation_0-logloss:0.300167
[283]	validation_0-logloss:0.300165
[284]	validation_0-logloss:0.301012
[285]	validation_0-logloss:0.299919
[286]	validation_0-logloss:0.299901
[287]	validation_0-logloss:0.299961
[288]	validation_0-logloss:0.300019
[289]	validation_0-logloss:0.310007
[290]	validation_0-logloss:0.309715
[291]	validation_0-logloss:0.309719
[292]	validation_0-logloss:0.309728
[293]	validation_0-logloss:0.309705
[294]	validation_0-logloss:0.309716
[295]	validation_0-logloss:0.309746
[296]	validation_0-logloss:0.309755
[297]	validation_0-logloss:0.300499
[298]	validation_0-logloss:0.301185
[299]	validation_0-logloss:0.301607
[300]	validation_0-logloss:0.311671
[301]	validation_0-logloss:0.311079
[302]	validation_0-logloss:0.311146
[303]	validation_0-logloss:0.319839
[304]	validation_0-logloss:0.319883
[305]	validation_0-logloss:0.320013
[306]	validation_0-logloss:0.320291
[307]	validation_0-logloss:0.311161
[308]	validation_0-logloss:0.311036
[309]	validation_0-logloss:0.311025
[310]	validation_0-logloss:0.320558
[311]	validation_0-logloss:0.310592
[312]	validation_0-logloss:0.329563
[313]	validation_0-logloss:0.318979
[314]	validation_0-logloss:0.318938
[315]	validation_0-logloss:0.318927
[316]	validation_0-logloss:0.318896
[317]	validation_0-logloss:0.318864
[318]	validation_0-logloss:0.318751
[319]	validation_0-logloss:0.318944
[320]	validation_0-logloss:0.318995
[321]	validation_0-logloss:0.318929
[322]	validation_0-logloss:0.319167
[323]	validation_0-logloss:0.319195
[324]	validation_0-logloss:0.319194
[325]	validation_0-logloss:0.319516
[326]	validation_0-logloss:0.319251
[327]	validation_0-logloss:0.319288
[328]	validation_0-logloss:0.319246
[329]	validation_0-logloss:0.319239
[330]	validation_0-logloss:0.319372
[331]	validation_0-logloss:0.319254
[332]	validation_0-logloss:0.319215
Stopping. Best iteration:
[32]	validation_0-logloss:0.245634

In [0]:
!pip install pdpbox

In [0]:
from pdpbox import pdp, get_dataset, info_plots

df = label_encoder(data)
model_features = list(df)

y = df.Revenue
X = df.drop(['Revenue'], axis=1)


feature_names = [i for i in X.columns]

feature_names

['Administrative',
 'Administrative_Duration',
 'Informational',
 'Informational_Duration',
 'ProductRelated',
 'ProductRelated_Duration',
 'BounceRates',
 'ExitRates',
 'PageValues',
 'SpecialDay',
 'Month',
 'OperatingSystems',
 'Browser',
 'Region',
 'TrafficType',
 'VisitorType',
 'Weekend']

In [0]:
pdp_goals = pdp.pdp_isolate(model=model, dataset=df, model_features=feature_names, feature='Revenue')

# go to the github page of pdpbox and get the information

<pdpbox.pdp.PDPIsolate object at 0x7fc1e94f7d30>

In [0]:
data.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

In [0]:
def get_col_missing_values(df):
    """
    get number of columns with missing values and 
    how many missing values each column has
    args :
        df : dataframe
    return :
        column names with missing values with number of missing values
    """
    # Number of missing values in each column of dataframe
    missing_val_count_by_column = (df.isnull().sum())
    return missing_val_count_by_column[missing_val_count_by_column > 0]

In [0]:
print(get_col_missing_values(data))

Series([], dtype: int64)

In [0]:
def oh_encoder(df):
    """
    function to one hot encode the values to a way that final column name have a meaning
    args : 
        dataframe
    return :
        dataframe that one hot encoded
    """
    oh_df = df.copy()
    s = (df.dtypes == 'object')
    object_cols = list(s[s].index)
    for col in object_cols:
        val = oh_df[col].unique()
        for each in val :
            oh_df[f'{each}_{col}'] = oh_df[col].apply(lambda x : 1 if x == each else 0)
        oh_df = oh_df.drop([col], axis =1)
    return oh_df

In [0]:
def label_encoder(df):
    """
    function to label encode the values to a way that final column name have a meaning
    args : 
        dataframe
    return :
        dataframe that label encoded
    """
    
    label_df = df.copy()
    s = (df.dtypes == 'object')
    object_cols = list(s[s].index)
    labelEncoder = LabelEncoder()
    for col in object_cols:
        label_df[col] = labelEncoder.fit_transform(df[col])

    return label_df

In [0]:
oh_df = oh_encoder(data)

In [0]:
label_df = label_encoder(data)

In [0]:
oh_df.head()

   Administrative  ...  Other_VisitorType
0               0  ...                  0
1               0  ...                  0
2               0  ...                  0
3               0  ...                  0
4               0  ...                  0

[5 rows x 29 columns]

In [0]:
label_df.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

In [0]:
data.nunique()

Administrative               27
Administrative_Duration    3335
Informational                17
Informational_Duration     1258
ProductRelated              311
ProductRelated_Duration    9551
BounceRates                1872
ExitRates                  4777
PageValues                 2704
SpecialDay                    6
Month                        10
OperatingSystems              8
Browser                      13
Region                        9
TrafficType                  20
VisitorType                   3
Weekend                       2
Revenue                       2
dtype: int64

In [0]:
list(data)

['Administrative',
 'Administrative_Duration',
 'Informational',
 'Informational_Duration',
 'ProductRelated',
 'ProductRelated_Duration',
 'BounceRates',
 'ExitRates',
 'PageValues',
 'SpecialDay',
 'Month',
 'OperatingSystems',
 'Browser',
 'Region',
 'TrafficType',
 'VisitorType',
 'Weekend',
 'Revenue']

In [0]:
data['Month'].nunique()

10

In [0]:
def get_cat_features(df, support = 20):
  list_col = list(df)
  cat_col = []
  for i in list_col:
    if df[i].nunique() < support :
      cat_col.append(i)
  return cat_col

In [0]:
cat_col = get_cat_features(data)

In [0]:
cat_col

['Informational',
 'SpecialDay',
 'Month',
 'OperatingSystems',
 'Browser',
 'Region',
 'VisitorType',
 'Weekend',
 'Revenue']

In [0]:
def oh_encoder(df, cat_cols):
    """
    function to one hot encode the values to a way that final column name have a meaning
    args : 
        dataframe
    return :
        dataframe that one hot encoded
    """
    oh_df = df.copy()
    for col in cat_cols:
        val = oh_df[col].unique()
        for each in val :
            oh_df[f'{each}_{col}'] = oh_df[col].apply(lambda x : 1 if x == each else 0)
        oh_df = oh_df.drop([col], axis =1)
    return oh_df

In [0]:
cat_oh = oh_encoder(data, cat_col)

In [0]:
cat_oh.head()

   Administrative  Administrative_Duration  ...  False_Revenue  True_Revenue
0               0                      0.0  ...              1             0
1               0                      0.0  ...              1             0
2               0                      0.0  ...              1             0
3               0                      0.0  ...              1             0
4               0                      0.0  ...              1             0

[5 rows x 79 columns]

In [0]:
cat_oh.shape

(12330, 79)

In [0]:
def oh_label_encoder(df, support = 10):
  encoded_df = label_encoder(df)
  cat_cols = get_cat_features(encoded_df, support)
  encoded_df = oh_encoder(encoded_df, cat_cols)
  return encoded_df

In [0]:
encoded_df = oh_label_encoder(data)
encoded_df.head()

   Administrative  Administrative_Duration  ...  False_Revenue  True_Revenue
0               0                      0.0  ...              1             0
1               0                      0.0  ...              1             0
2               0                      0.0  ...              1             0
3               0                      0.0  ...              1             0
4               0                      0.0  ...              1             0

[5 rows x 42 columns]

In [0]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/a0/52/c54191ad3782de633ea3d6ee3bb2837bda0cf3bc97644bb6375cf14150a0/category_encoders-2.1.0-py2.py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 2.2MB/s
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.17.3)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.25.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.1.0

In [0]:
import category_encoders as ce
from sklearn import metrics

In [0]:
def count_encoder(df, cat_cols):
  label_df = label_encoder(df)
  count_enc = ce.CountEncoder()
  count_encoded = count_enc.fit_transform(df[cat_cols])
  count_df = label_df.join(count_encoded.add_suffix("_count"))
  return count_df

In [0]:
def target_enc(df, cat_cols, label):
  target_df = df.copy()
  target_enc = ce.TargetEncoder(cols=cat_cols)
  target_enc.fit(df[cat_cols], df[label])
  target_df = target_df.join(target_enc.transform(df[cat_cols]).add_suffix('_target'))
  return target_df

In [0]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split

In [0]:

def base_model(X_train, X_test, y_train, y_test):
  dtrain = lgb.Dataset(X_train, label=y_train)
  dvalid = lgb.Dataset(X_test, label=y_test)

  param = {'num_leaves': 64, 'objective': 'binary'}
  param['metric'] = 'auc'
  num_round = 2500
  bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=200, verbose_eval=False)
  valid_pred = bst.predict(X_test)
  valid_score = metrics.roc_auc_score(y_test, valid_pred)
  print(f"Validation AUC score: {valid_score:.4f}")
  return valid_score

In [0]:
def get_feature_cols(df, label):
  feature_cols = df.columns.drop(label)
  return feature_cols

In [0]:
def data_split(X, y):
  X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)
  return X_train, X_test, y_train, y_test

In [0]:
def get_X_y(df, label):
  feature_cols = get_feature_cols(df, label)
  return df[feature_cols], df[label]

In [0]:
def evaluate_df(X, y):
  X_train, X_test, y_train, y_test = data_split(X, y)
  score = base_model(X_train, X_test, y_train, y_test)
  return score

In [0]:
label_df.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

In [0]:
label_X, y = get_X_y(label_df, 'Revenue')
score = evaluate_df(label_X, y)

Validation AUC score: 0.9307

In [0]:
oh_df.head()

   Administrative  ...  Other_VisitorType
0               0  ...                  0
1               0  ...                  0
2               0  ...                  0
3               0  ...                  0
4               0  ...                  0

[5 rows x 29 columns]

In [0]:
oh_X, y = get_X_y(oh_df, 'Revenue')
score = evaluate_df(oh_X,y)

Validation AUC score: 0.9305

In [0]:
X, y = get_X_y(data, 'Revenue')
cat_col = get_cat_features(X)
cat_oh = oh_encoder(X, cat_col)

In [0]:
cat_oh.head()

   Administrative  Administrative_Duration  ...  False_Weekend  True_Weekend
0               0                      0.0  ...              1             0
1               0                      0.0  ...              1             0
2               0                      0.0  ...              1             0
3               0                      0.0  ...              1             0
4               0                      0.0  ...              0             1

[5 rows x 77 columns]

In [0]:
evaluate_df(cat_oh, y)

Validation AUC score: 0.9294

In [0]:
encoded_df = oh_label_encoder(X)
encoded_df.head()

   Administrative  Administrative_Duration  ...  False_Weekend  True_Weekend
0               0                      0.0  ...              1             0
1               0                      0.0  ...              1             0
2               0                      0.0  ...              1             0
3               0                      0.0  ...              1             0
4               0                      0.0  ...              0             1

[5 rows x 40 columns]

In [0]:
evaluate_df(encoded_df, y)

Validation AUC score: 0.9307

In [0]:
def evaluate_pipeline_cat(data, label):
  label_df = label_encoder(data)
  X, y = get_X_y(label_df, label)
  score_opt = evaluate_df(X, y)
  print(score_opt)
  optimal_support = 0
  support = 10
  for i in range(10):
    cat_col = get_cat_features(X,support = support)
    cat_oh = oh_encoder(X, cat_col)
    score = evaluate_df(cat_oh, y)
    if score > score_opt:
      score_opt = score
      optimal_support = support
    print(score)
    support += 5
  return optimal_support

In [0]:
support = evaluate_pipeline_cat(data, 'Revenue')
print(support)

Validation AUC score: 0.9307
0.9306904222000305
Validation AUC score: 0.9307
0.930705364811208
Validation AUC score: 0.9304
0.9304329495151238
Validation AUC score: 0.9294
0.9293823690061739
Validation AUC score: 0.9287
0.9287363884306489
Validation AUC score: 0.9302
0.9302161667098852
Validation AUC score: 0.9302
0.9302161667098852
Validation AUC score: 0.9302
0.9302161667098852
Validation AUC score: 0.9302
0.9302161667098852
Validation AUC score: 0.9302
0.9302161667098852
Validation AUC score: 0.9302
0.9302161667098852
60

In [0]:
def count_encoder(df, cat_cols):
  label_df = label_encoder(df)
  count_enc = ce.CountEncoder()
  count_encoded = count_enc.fit_transform(df[cat_cols])
  count_df = label_df.join(count_encoded.add_suffix("_count"))
  return count_df

In [0]:
count_df = count_encoder(data, cat_col)

In [0]:
count_df.head()

   Administrative  Administrative_Duration  ...  VisitorType_count  Weekend_count
0               0                      0.0  ...              10551          False
1               0                      0.0  ...              10551          False
2               0                      0.0  ...              10551          False
3               0                      0.0  ...              10551          False
4               0                      0.0  ...              10551           True

[5 rows x 26 columns]

In [0]:
X, y = get_X_y(count_df, 'Revenue')

In [0]:
evaluate_df(X, y)

Validation AUC score: 0.9316

In [0]:
data.nunique()

Administrative               27
Administrative_Duration    3335
Informational                17
Informational_Duration     1258
ProductRelated              311
ProductRelated_Duration    9551
BounceRates                1872
ExitRates                  4777
PageValues                 2704
SpecialDay                    6
Month                        10
OperatingSystems              8
Browser                      13
Region                        9
TrafficType                  20
VisitorType                   3
Weekend                       2
Revenue                       2
dtype: int64

In [0]:
cat_feature =

In [0]:
def get_cat_features_bounded(df, lower = 15, fraction = 3):
  lenght = len(df.index)
  upper = lenght / fraction
  list_col = list(df)
  cat_col = []
  for i in list_col:
    if df[i].nunique() > lower :
      if df[i].nunique() < upper :
        cat_col.append(i)
  return cat_col

In [0]:
X, y = get_X_y(data, 'Revenue')

In [0]:
cat_feature = get_cat_features_bounded(X)

In [0]:
cat_feature

['Administrative',
 'Administrative_Duration',
 'Informational',
 'Informational_Duration',
 'ProductRelated',
 'BounceRates',
 'PageValues',
 'TrafficType']

In [0]:
count_df = count_encoder(data, cat_feature)

In [0]:
X_count, y = get_X_y(count_df, 'Revenue')

In [0]:
evaluate_df(X_count, y)

Validation AUC score: 0.9307

In [0]:
cat_feature = get_cat_features_bounded(X, lower = 5, fraction = 5)

In [0]:
count_df = count_encoder(data, cat_feature)

In [0]:
X_count, y = get_X_y(count_df, 'Revenue')

In [0]:
evaluate_df(X_count, y)

Validation AUC score: 0.9316

In [0]:
cat_feature = get_cat_features_bounded(X, lower = 5, fraction = 5)
count_df = count_encoder(data, cat_feature)
X_count, y = get_X_y(count_df, 'Revenue')

In [0]:
target_enc = ce.TargetEncoder(cols=cat_features)

train, valid, _ = get_data_splits(data)

# Fit the encoder using the categorical features and target
target_enc.fit(train[cat_features], train['outcome'])

# Transform the features, rename the columns with _target suffix, and join to dataframe
train = train.join(target_enc.transform(train[cat_features]).add_suffix('_target'))
valid = valid.join(target_enc.transform(valid[cat_features]).add_suffix('_target')

In [0]:
def target_enc(X_train, df, cat_cols, y_train):
  target_df_tr = X_train.copy()
  target_df = df.copy()
  target_enc = ce.TargetEncoder(cols=cat_cols)
  target_enc.fit(target_df_tr[cat_cols], y_train)
  target_df = target_df.join(target_enc.transform(target_df[cat_cols]).add_suffix('_target'))
  return target_df

In [0]:
X, y = get_X_y(data, 'Revenue')

In [0]:
X_train, X_test, y_train, y_test = data_split(X, y)

target_df = target_enc(X_train, label_df, cat_col, y_train)

In [0]:
target_df.head()

   Administrative  Administrative_Duration  ...  VisitorType_target  Weekend_target
0               0                      0.0  ...             0.15434        0.149890
1               0                      0.0  ...             0.15434        0.149890
2               0                      0.0  ...             0.15434        0.149890
3               0                      0.0  ...             0.15434        0.149890
4               0                      0.0  ...             0.15434        0.169411

[5 rows x 26 columns]

In [0]:
X_target, y =  get_X_y(target_df, 'Revenue')

In [0]:
evaluate_df(X_target, y)

Validation AUC score: 0.9299

In [0]:
def catboost_enc(X_train, df, cat_cols, y_train):
  target_df_tr = X_train.copy()
  target_df = df.copy()
  target_enc = ce.CatBoostEncoder(cols=cat_cols)
  target_enc.fit(target_df_tr[cat_cols], y_train)
  target_df = target_df.join(target_enc.transform(target_df[cat_cols]).add_suffix('_cb'))
  return target_df

In [0]:
X, y = get_X_y(data, 'Revenue')

X_train, X_test, y_train, y_test = data_split(X, y)

catboost_df = catboost_enc(X_train, label_df, cat_feature, y_train)

X_cat_boost, y =  get_X_y(catboost_df, 'Revenue')

In [0]:
X_cat_boost.head()

   Administrative  Administrative_Duration  ...  Region_cb  TrafficType_cb
0               0                      0.0  ...   0.159773        0.111205
1               0                      0.0  ...   0.159773        0.205616
2               0                      0.0  ...   0.163179        0.093594
3               0                      0.0  ...   0.166863        0.162432
4               0                      0.0  ...   0.159773        0.162432

[5 rows x 28 columns]

In [0]:
evaluate_df(X_cat_boost, y)

Validation AUC score: 0.9074